.cars {
    padding: 5rem;
}


.car-detail-container{
    display: flex;
    margin: 5px;
    flex-direction: column;
    align-items: center;
    

}

.car-detail-header {
    display: flex;
}

.car-img-wrapper {
    width: 50%;
    flex: 0.7;
}

.car-img {
    margin: auto;
    width: 100%;
    object-fit: contain;
    min-width: 300px;
    
}

.car-description{
    flex: 0.3;
    margin: 10px 50px;
    background-color: rgb(226, 226, 226);
    padding: 20px;
    display: flex;
}

.car-description-header {
    flex-direction: column;
    text-transform: uppercase;
    color: #444444;
    display: flex;
    justify-content: space-between;
    

}   



.car-price {
    font-weight: 400;
}


.car-production {

    display: flex;
    align-items: center;
    
}

.car-production >* {
    margin: 5px;
    padding: 5px;
    border-right: 1px solid #242424;
}


.car-content{
    display: flex;
    flex-direction: column;
}
.car-content a {
    width: 10%;
}
.car-content img {
    width: 100%;
}
.car-detail-footer{

   margin: 2rem;
   width: 100%;

    
}
.car-footer-container{
    
    display: flex;
    flex-direction: column;
}

.car-spec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.car-spec > h4 {
    color: rgb(105, 105, 105);
}

.car-footer-top {
    display: grid;
    grid-row-gap: 30px;    
    grid-column-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    background-color: rgb(226, 226, 226);
    padding: 1rem;
}

.car-discuss {
    display: flex;
    align-items: center;
    padding: 20px;
}

.car-discuss > img {
    height: 50px;
    width: 50px;
    object-fit: contain;
    
}
.message_time {
    color: rgb(109, 104, 104);
    font-weight: 300;
    font-size: 13px;
    margin-left: 10px;
}

.message_info {
    padding-left: 10px;
}
.message_input{
    display: flex;
    
    
}
.message_input>form{
   width: 100%;
    
    
}
.message_input>img{
    width: 75px;
    object-fit: contain;
}
.message_seller{
    margin: 0;
    padding: 0;
    color: indianred;
    font-style: italic;
}
.message_input textarea{
    width: 100%;
    border: 1px solid #242424;
    padding: 10px 20px;
    font: 14px ;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
    
}
.chat_nologin{
    margin: 100px auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.car_comment{
    border: 1px solid black;
    padding: 2rem;
    margin: auto;

}
.no_discussion{
    height: 100px;
    margin-top: 30px;
    color: gray;
}
.comment_header{
    border-bottom: 1px solid gray;
}


@media screen and (max-width: 960px) {
    .car-detail-header{
        flex-direction: column;
        align-items: center;
    }
    .car-img-wrapper {
        width: 100%;
    }

    .cars {
        padding: 1rem;
    }
    .car-content a {
        width: 15%;
    }
    .car-make, .car-price {
        margin-bottom: 2rem;
    }
    .car-description {
        margin: 1rem;
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
.message_input textarea{
    height: 5rem;
}
}